html {
  overflow-y: hidden;
}
.app-main {
  font-family: var(--default-font);
}
a {
  color: inherit !important;
  text-decoration: none;
}
.full-height {
  height: 100%
}
.main {
  padding: 10px;
  max-height: 100%;
}
.app {
  padding: 0 !important;
  display: block;
  position: fixed;
  top: 20px;
  right: 0;
  left: 56px;
  bottom: 0;
  margin-top: 10px;
  height: 100%;
}
.scroll {
  overflow: auto;
  height: 100%;
}
.overflow-scroll {
  overflow: auto;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.no-overflow {
  overflow-y: hidden;
  overflow-x: hidden;
}
.overflow-allow {
  overflow: visible;
}
.link { color: #0071db }
.red-txt { color: red !important; }
/* ::-webkit-scrollbar { width: 0; } */
.version { font-weight: bold; }
.user-none { user-select: none; }
.syst-spacer {
  padding-left: 1%;
  margin-right: 1%;
  height:80%;
}
.drag { -webkit-app-region: drag; }
.no-drag { -webkit-app-region: no-drag; }
.center-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  margin: 0 auto;
  width: max-content;
}
.select {
  width: inherit;
  border-radius: 3px;
  border: 1px solid #333333;
  padding-left: 3px;
  -webkit-appearance: menulist !important; /* override vuetify style */
  -moze-appearance: menulist !important; /* override vuetify style */
  appearance: menulist !important; /* override vuetify style */
  margin-bottom: 2rem; /* demo purpose */
}
.border-black {
  border: 1px solid black;
}
.border-lightgray {
  border: 1px solid lightgray;
}
.no-box-shadow {
  box-shadow: none !important;
}
._1-bg { background-color: #ffdbdb !important; }
._2-bg { background-color: #c0c0c0 !important; }
._3-bg { background-color: #ebb96b !important; }
._4-bg { background-color: #e7edff !important; }
._5-bg { background-color: #aac7b1 !important; }
._6-bg { background-color: #defde0 !important; }
._7-bg { background-color: #fceed0 !important; }
._8-bg { background-color: #ebebeb !important; }
.v-main__wrap {
  height: calc(100vh - 30px);
}
.w-100 { width: 100%; }
.h-100 { height: 100%; }

.max-z-index {
  z-index: 99999;
}
.top-80 { top: 80% !important; }
.top-90 { top: 90% !important; }
.top-95 { top: 95% !important; }